img {
    width: 100%;
    height: 100%;
    position: absolute;
}
ul {
    position: absolute;
    right: 0;
    top: 40%;
    z-index: 1;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
    font-size: 30px;
    color: white;
    margin: 12px;
}
li {
    margin: 10px 0 10px 0px;
    border-bottom: 2px solid white;
    text-decoration: none;
    padding-bottom: 10px;
    text-align: center;
    display: block;
}
li:first-child {
    border-top:2px solid white;
}
.dop {
    display: block;
}
.foto {
    display: none;
}
